!!! 5
%head
  %title Audiovisuels Tips
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Audiovisuel Tips", root_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Créer un nouvelle astuce", new_post_path
          %li= link_to "Déconnexion", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Se connecter", new_user_session_path
          %li= link_to "S'inscrire", new_user_registration_path
  .container
    - flash.each do |name, msg|
      =content_tag :div, msg, class: "alert alert-success"
  =yield